div{
    box-sizing: border-box;
  }
  
  body{
    margin: 0px;
  }

.cart-background{
    width: 100%;
    background-color: #c2d3de;
    padding: 30px;
}

.cart-table{
    width: 100%;
    max-width: 700px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    border-collapse: collapse;
}

.cart-table td, .cart-table th{
    padding: 15px;
    border-bottom: 1px solid #c2d3de
}

.cell-long{
    width: 200px;
}

.cart-table th:nth-child(2){
    width: 400px;
}

.btn{
    padding: 15px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: coral;
    color: white;
    cursor: pointer;
}

.btn:hover{
    background-color: chocolate;
}
.btn:focus{
    background-color: grey;
}
.btn:active{
    background-color: brown;
}

.input-test{
    font-size: 20px;
}
.input-test:focus{
    border: 2px solid blue;
}

.custom-link{
    text-decoration: none;
}
.custom-link:link{
    color: aqua;
}
.custom-link:visited{
    color: red
}

.main-btn{
    padding: 15px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.bg-red{
    background-color: red;
}

.bg-blue{
    background-color: blue;
}

.f-small{
    font-size: 12px;
}

.f-mid{
    font-size: 16px;
}

.f-lg{
    font-size: 20px;
}