div{
    box-sizing: border-box;
  }
  
  body{
    margin: 0px;
  }

.cart-background{
    width: 100%;
    background-color: #c2d3de;
    padding: 30px;
}

.cart-table{
    width: 100%;
    max-width: 700px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    border-collapse: collapse;
}

.cart-table td, .cart-table th{
    padding: 15px;
    border-bottom: 1px solid #c2d3de
}

.cell-long{
    width: 200px;
}

.cart-table th:nth-child(2){
    width: 400px;
}