div{
  box-sizing: border-box;
}

body{
  margin: 0px;
}

.profile {
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title {
  text-align: center;
  font-size: 16px;
}

.box {
  width: 200px;
  background: cadetblue;
  margin: 10px;
  padding: 40px;
  border-radius: 5px;
  text-align: center;
  font-size: 10px;
  box-shadow: 5px 5px;
  color: white;
}

.container {
  width: 800px;
}

.header {
  width: 100%;
  height: 50px;
  background: aquamarine;
}

.left-menu {
  width: 20%;
  height: 400px;
  background: cornflowerblue;
  /* float: left; */
  display: inline-block;
  vertical-align: top;
}

.right {
  width: 80%;
  height: 400px;
  background: coral;
  /* float: left; */
  display: inline-block;
}

.footer {
  width: 100%;
  height: 100px;
  background-color: grey;
  /* clear: both; */
}

.main-background{
  width: 100%;
  height: 500px;
  background-image: url(../img/shoes.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 20% 75%;
  padding: 1px;
  position: relative;
  text-align: center;
}

.main-title{
  color: white;
  font-size: 40px;
  margin-top: 100px;
}

.main-button{
  left: 0;
  right: 0;
  margin: auto;
  width: 150px;
  position: absolute;
  padding: 15px;
  font-size: 20px;
  background: white;
  border: none;
  border-radius: 5px;
  /* z-index: 1; */
}

.main-content{
  color: white;
  width: 80%;
  margin: auto;
  z-index: 0;
}

.main-guide{
  background-color: green;
  width: 50%;
  max-width: 600px;
  height: 40%;
  position: absolute;
  left: 0px;
  right: 0px;
  margin: auto;
  bottom: -30%;
  padding: 30px;
  /* z-index: 0; */
}

input[type=email]{
 padding: 10px;
 font-size: 20px;
 border: 2px solid black;
 border-radius: 5px;
}

td{
  border: 1px solid black;
}

th{
  border: 1px solid black;
}

table{
  border-collapse: collapse;
}

