body{
    margin: 0;
}

.test{
    /*width: 50vw;*/
    /*height: 100vh;*/

    /*rem은 기본 px(16)의 배수 10rem = 160px*/
    /*width: 10rem;*/
    font-size: 10px;

    /*내 폰트 사이즈의 n배*/
    /*width: 20em;*/
    background: grey;
}

.product-container{
    width: 80%;
    max-width: 600px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.product-container div{
    float: left;;
    width: 25%;;
    text-align: center;
}

@media screen and (max-width: 1200px){
    .product-container div{
        width: 50%;
    }
    .product-container {
        max-width: 600px;
    }
    .media-test {
        font-size: 30px;
        background: purple;
    }
}

@media screen and (max-width: 768px){
    .product-container div{
        float: none;
    }
    .media-test {
        font-size: 30px;
        background: green;
    }
}

/* 미디어 쿼리는 css파일 밑에 있어야 됨 */
@media screen and (max-width: 700px){
    .media-test {
        font-size: 30px;
        background: blue;
    }
}

@media screen and (max-width: 400px){
    .media-test {
        font-size: 30px;
        background: red;
    }
}
