.container{
    display: flex;
    text-align: center;
    justify-content: center;
    height: 100vh;
}

.item{
    margin: 50px;
    display: inline-block;
    min-width: 0;
    width: 20%;
    white-space: nowrap;
}

@media screen and (max-width: 768px){
    .container{
        flex-wrap: wrap;
    }
}