body{
    margin: 0px;
}

div, input, textarea{
    box-sizing: border-box;
}

.form-background{
    background-color: black;
    padding: 30px;
}

.form-white{
    background-color: white;
    padding: 30px;
    width: 80%;
    max-width: 600px;
    margin: auto;
}

.form-input{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

.w-100{
    width: 100%;
    padding: 10px;
}

.w-50{
    width: 50%;
    float: left;
    padding: 10px;
}

.sub-check{
}

.yellow-button{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: yellow;
    float: right;
}