.profile-text td{
    padding: 10px;
    padding-left: 50px;
}

.text-center{
    text-align: center;
}

.SKILLS{
    list-style-type: none;
}

.icon{
    rotate: calc(180deg);
    text-align: center;
    height: 100px;
    position: relative;
}

.small-icon{
    position: absolute;
    color: white;
    font-size: 30px;
    z-index: 1;
    left: 50%;
    top: 30%;
}

.big-icon{
    position: absolute;
    color: #6fbaf8;
    font-size: 60px;
    left: 46%;
    top: 23%;
}

.location-icon{
    height: 20px;
    position: relative;
}

.location-big-icon{
    color: #6fbaf8;
    position: absolute;
    font-size: 20px;
    left: 2px;
}

.location-small-icon{
    background: white;
    position: absolute;
    border-radius: 50%;
    height: 7px;
    width: 7px;
    z-index: 1;
    left: 4%;
    top: 10%;
}

@media screen and (max-width: 400px){
    .d-flex {
        display: flex;
        flex-direction: column;
    }
}