.profile-text td{
    padding: 10px;
    padding-left: 50px;
}

.text-center{
    text-align: center;
}

.SKILLS{
    list-style-type: none;
}

.icon{
    rotate: calc(180deg);
    text-align: center;
    height: 100px;
    position: relative;
}

.small-icon{
    position: absolute;
    color: white;
    font-size: 30px;
    z-index: 1;
    left: 50%;
    top: 30%;
}

.big-icon{
    position: absolute;
    color: #6fbaf8;
    font-size: 60px;
    left: 46%;
    top: 23%;
}