body{
    margin: 0px;
}

h1,h2{
    margin: 0;
}

.iphone-background{
    background: blue;
    width: 100%;
    height: 45vh;
    position: relative;
}

.iphone{
    width: 30%;
    position: absolute;
    right: 5%;
    bottom: 0;
}

.subheader{
    margin-top: 1px;
}