body{
    margin: 0px;
}

h1,h2{
    margin: 0;
}

button{
    border-radius: 3px;
}

.iphone-background{
    background: linear-gradient( to bottom ,blue, purple);
    width: 100%;
    height: 40vh;
    position: relative;
}

.iphone{
    height: 80%;
    position: absolute;
    right: 5%;
    bottom: 0;
}

.subheader{
    position: absolute;
    width: 20%;
    top: 5rem;
    left: 5rem;
    color: white;
    word-wrap: break-word;
}

.subheader-button{
    background-color: black;
    color: white;
    padding: 2%;
}

.md{
    height: 30vh;
}

.md-subheader{
    text-align: center;
    padding-top: 3% 
}

.md-subheader-button{
    background-color: black;
    color: white;
    padding: 1%;
}

.bt{
    height: 30vh;
    background: purple;
    text-align: center;
    padding-top: 3em;
}

.bt-title{
    color: white;
}

.bt-content{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.bt-ic-background{
    background-color: white;
    border-radius: 100%;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: black;
}

.bt-content-items{
    margin: 30px;
}

.bt-content-icons{
    font-size: 30px;
}

.pf-t{
    text-align: center;
    padding-top: 3em;
}

.pf-ct{
    color: white;
}

.pf-ct-img{
    display: inline-block;
}