div{
    box-sizing: border-box;
  }
  
  body{
    margin: 0px;
  }

  .background{
      background-color: rgb(177, 204, 204);
      width: 100%;
      height: 100vh;
  }

  .content{
      display: block;
      margin-left: auto;
      margin-right: auto;
    width: 300px;
}

.title{
    margin-top: 0px;
    color: blue;
}

  .table-radius{
    width: 400px;
    height: 200px;
    border-radius: 3px;
    background-color: white;
  }


table{
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border-style: hidden;
    text-align: center;
    table-layout: fixed;
}

tr{
    border: 1px solid black;
}

img{
    width: 70%;
}

.chooseButton{
    background-color: blue;
    float: right;
    height: 40px;
}

.footer{
    margin-top: 10px;
}